<launch>

<node name="tf" pkg="tf" type="static_transform_publisher" args= "0.0 0.0 0.0 0.0 0.0 0.0 map base_link 100"/>
<rosparam command="load" file="$(find patchworkpp)/config/params.yaml" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find patchworkpp)/rviz/demo.rviz"/>
<node name="$(anon demo)" pkg="patchworkpp" type="demo" output="screen">

<rosparam param="/cloud_topic">"/kitti/velo/pointcloud"</rosparam>

</node>

</launch>
