<launch>

<arg name="cloud_topic" default="/kitti/velo/pointcloud"/>

  <node name="ground_segmentation" pkg="patchworkpp" type="demo" output="screen">
    <rosparam command="load" file="$(find patchworkpp)/config/params.yaml" />
    <param name="cloud_topic" value="$(arg cloud_topic)"/>
  </node>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find patchworkpp)/rviz/demo.rviz"/>

</launch>
