<launch>

  <node name="rqt_conf_gui" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen"/>

  <node name="ground_segmentation" pkg="patchworkpp" type="demo_reconf" output="screen"/>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find patchworkpp)/rviz/demo.rviz"/>

</launch>
