<launch>

<node name="tf" pkg="tf" type="static_transform_publisher" args= "0.0 0.0 0.0 0.0 0.0 0.0 map base_link 100"/>
<rosparam command="load" file="$(find patchworkpp)/config/params.yaml" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find patchworkpp)/rviz/patchworkpp_viz.rviz"/>
<node name="$(anon offline_kitti)" pkg="patchworkpp" type="offline_kitti" output="screen">

<rosparam param="/algorithm">"patchworkpp"</rosparam> 
<rosparam param="/sequence">"00"</rosparam> 
<rosparam param="/init_idx">0</rosparam> 
<rosparam param="/data_path">"/../../seungjae_ssd/data/SemanticKITTI/sequences"</rosparam>
<rosparam param="/output_csvpath">"/data/patchworkpp/"</rosparam>
<rosparam param="/save_csv_file">true</rosparam>
<rosparam param="/stop_per_each_frame">true</rosparam>


</node>

</launch>
